body {
    background-image: url("SoloFondo.png");
    background-size: cover;
  }
  
  .navbar {
    margin: 0 auto;
  }
  
  .CC {
    height: 200px;
    width: 300px;
  }

 
.celeste{
    background-color: #bfd9d8;
    padding: 10px;
    
}

.a{
  color: white;
}

.roja{
    background-color: #7f3035;
    color: white;
    padding: 10px;
}

.ultima{
margin-bottom: 10px;
}

  .navbar-ul li {
    display: inline-block;
    padding: 10px;
    color: white;
  }

  @media (max-width: 500px) {
    .CC {
      height: 70px;
      width: 150px;
    }
    li {
      font-size: 10px;
    }
    
  }

  .footer-home{
    background-color: black;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-container{
    background-color: black;
}

.contact-info-home{
    color: white;
}


.register-heading{
    background-color: #7f3035;
    display: block;
    padding: 10px;
    color: white;
    border-radius: 10px;
}


li{
    color:black;
    
}

.titulo-bs{
    padding-top: 20px;
    padding-bottom: 20px;
}

